# Virtual Environment
venv/

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Python tools
.pytest_cache/
.mypy_cache/

# Large data files
*.csv
*.parquet

# Machine Learning model files
*.pkl
*.joblib